/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

:root {
  --wordeley-color-text-secondary: rgb(100, 100, 100);
  --wordeley-color-background-secondary: rgb(245, 245, 245);
  --wordeley-color-border: rgb(220, 220, 220);
}

/* Notices */

.wordeley-notice {
  color: rgb(0, 0, 56);
  background-color: rgb(202, 229, 255);
  padding: 20px;
  border-radius: 10px;
  font-size: small;
  width: 100%;
}

.wordeley-notice.wordeley-error {
  color: red;
  background-color: rgb(255, 208, 208);
}

/* Catalogue View */

.wordeley-catalogue {
  display: flex;
  align-items: flex-start;
  transition: opacity 0.2s ease-in-out;
}
.wordeley-catalogue.loading {
  opacity: 0.5;
  cursor: wait;
  transition: opacity 0.2s ease-in-out;
}

/* Catalogue View - Filters */

.wordeley-catalogue > .wordeley-catalogue-filters {
  margin: 0 10px 20px 0;
  padding: 20px;
  background-color: var(--wordeley-color-background-secondary);
  border-radius: 10px;
  flex-basis: 250px;
  min-width: 300px;
}

.wordeley-catalogue > .wordeley-catalogue-filters > h2 {
  font-size: 110%;
}

/* Catalogue View - List Header */
.wordeley-catalogue .wordeley-total-article-label {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--wordeley-color-text-secondary);
  font-weight: bold;
  font-size: 14px;
}

/* Catalogue View - List */

.wordeley-catalogue > .wordeley-catalogue-list {
  margin: 0 0 20px 10px;
  width: 100%;
  flex-basis: 100%;
}

.wordeley-catalogue > .wordeley-catalogue-list > ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.wordeley-catalogue > .wordeley-catalogue-list > ul:first-of-type > li {
  padding: 20px;
  margin: 0 0 10px 0;
}

.wordeley-catalogue
  > .wordeley-catalogue-list
  > ul:first-of-type
  > li:not(:last-of-type) {
  border-bottom: 0.5px solid var(--wordeley-color-border);
}

.wordeley-catalogue > .wordeley-catalogue-list > ul > li > h3 {
  font-size: 110%;
  margin-bottom: 10px;
}

.wordeley-catalogue > .wordeley-catalogue-list > ul > li > .metadata {
  font-size: small;
  color: var(--wordeley-color-text-secondary);
  margin-bottom: 10px;
}

.wordeley-catalogue
  > .wordeley-catalogue-list
  > ul
  > li
  > .metadata
  > *
  > .label {
  font-weight: bold;
}

.wordeley-catalogue > .wordeley-catalogue-list > ul > li > .information > a {
  font-weight: bold;
  color: var(--wordeley-color-text-secondary);
  text-decoration: none;
}

.wordeley-catalogue .wordeley-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.wordeley-catalogue .wordeley-pagination li {
  padding: 5px;
}

.wordeley-catalogue .wordeley-pagination .active {
  font-weight: bold;
}

.wordeley-catalogue .wordeley-catalogue-filters h4 {
  font-size: 16px;
  margin: 16px 0 8px 0;
}

.wordeley-catalogue .wordeley-catalogue-filters h4:first-of-type {
  margin-top: 0;
}

.wordeley-catalogue .wordeley-catalogue-filters form label {
  font-size: 14px;
}

.wordeley-catalogue
  .wordeley-catalogue-filters
  form
  input:not([type="checkbox"]) {
  display: block;
  width: 100%;
}

.wordeley-catalogue .wordeley-catalogue-filters form label:last-of-type {
  display: block;
}

.wordeley-catalogue .wordeley-catalogue-filters .years-filter {
  display: flex;
  justify-content: space-between;
}

.wordeley-catalogue .wordeley-catalogue-filters .years-filter > * {
  flex: 1;
  margin-right: 10px;
}

.wordeley-catalogue
  .wordeley-catalogue-filters
  form
  label
  input[type="number"]::-webkit-inner-spin-button,
.wordeley-catalogue
  .wordeley-catalogue-filters
  form
  label
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.wordeley-catalogue .wordeley-catalogue-filters form label:last-of-type select {
  display: block;
  width: 100%;
  -webkit-appearance: menulist;
}

.wordeley-catalogue
  .wordeley-catalogue-filters
  form
  label:last-of-type
  select:hover {
  cursor: pointer;
}

.wordeley-catalogue .wordeley-catalogue-filters form button {
  margin-top: 20px;
}
