/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wordeley-error {
  color: red;
}

.button.is-destructive {
  color: #cf2e2e;
  border-color: #cf2e2e;
}
